<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vehicleRule">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.vehicleRule.detail.title">Vehicle Rule</span> {{vehicleRule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.vehicleRule.key">Key</span></dt>
                <dd>
                    <span>{{vehicleRule.key}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.vehicleRule.name">Name</span></dt>
                <dd>
                    <span>{{vehicleRule.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.vehicleRule.description">Description</span></dt>
                <dd>
                    <span>{{vehicleRule.description}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.vehicleRule.condition">Condition</span></dt>
                <dd>
                    <span>{{vehicleRule.condition}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.vehicleRule.comment">Comment</span></dt>
                <dd>
                    <span>{{vehicleRule.comment}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vehicle-rule', vehicleRule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
